{% if site.style == 'dark' %}
  {% assign icon_color = "#ffffff" %}
{% elsif site.style == 'blue' %}
  {% assign icon_color = "#ecfcff" %}
{% elsif site.style == 'yellow' %}
  {% assign icon_color = "#262626" %}
{% else %}
  {% assign icon_color = "#24292e" %}
{% endif %}

{% if site.style == 'dark' %}
  {% assign back_icon_color = "#ffffff" %}
{% elsif site.style == 'blue' %}
  {% assign back_icon_color = "#5edfff" %}
{% elsif site.style == 'yellow' %}
  {% assign back_icon_color = "#262626" %}
{% else %}
  {% assign back_icon_color = "#24292e" %}
{% endif %}

{% assign content = page.content %}

{% assign posts_total = site.posts | size %}

{% assign user = site.github.owner %}

{% if page.path contains '_posts' %}
  {% assign page_title = page.title %}
  {% assign meta_description = page.content | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% else %}
  {% assign page_title = user.name %}
  {% assign meta_description = user.bio | strip_html | strip_newlines | xml_escape | truncate: 300 %}
{% endif %}

<!doctype html>
<html class="min-height-full">
  <head>
    <meta charset="utf-8">
    <title>{{ page_title }}</title>
    <meta name="description" content="{{ meta_description }}" />
    <meta property="og:title" content="{{ user.name }}" />
    <meta property="og:image" content="/assets/imgs/og_image.png" />
    <meta property="og:description" content="{{ meta_description }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link href="{{ "/assets/styles.css" | relative_url }}" rel="stylesheet" type="text/css">
  </head>
  <body class="bg-white min-height-full" {% if site.style == 'blue' %}style="background-color: #ecfcff !important"{% endif %}>
