---
---
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300,400,700,900');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');
@import url('https://unpkg.com/primer/build/build.css');
@import 'highlight-syntax';

body {
  font-family: 'Avenir', 'Nunito Sans', sans-serif;
}

// If a user adds a custom font, this component will stop it from bleeding into GitHub components:
.github-component {
  font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol !important;
}

.repo-language-color {
    filter: brightness(125%) !important;
    border-radius: 50%;
    display: inline-block;
    height: 12px;
    position: relative;
    top: 2px;
    width: 12px;
}

.content-text {
  font-size: 1.2rem;
}

.content-text #time-passed {
  font-family: 'VT323', monospace;
  font-size: 1.4rem;
}

.emoji {
  width: 18px;
  height: auto;
  vertical-align: middle;
}

.article {
  h1, h2, h3, h4,
  .highlight {
    margin-bottom: 16px;
  }

  blockquote {
    color: #6a737d;
    border-left: 2px solid #959da5;
    padding-left: 16px;
    margin-bottom: 16px;
  }

  ul, ol {
    padding-left: 32px;
    margin-bottom: 16px;
  }

  li ul, li ol {
    padding-left: 16px;
    margin-bottom: 0px;
  }
}

.min-height-full {
  min-height: 100vh;
}

.bg-blue {
  background: #3e64ff !important;
}

.bg-baby-blue {
  background: #5edfff !important;
}

.bg-light-blue {
  background: #ecfcff !important;
}

.text-light-blue {
  color: #ecfcff !important;
}

.rounded-3 {
  border-radius: 10px !important;
}

.github-component {
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);

  &:hover {
    box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
  }
}